body {
  margin: 20px;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  text-transform: none;
  background-color: #ffffff;
  background-position: top center;
  width: 1200px;
  min-height: 3150px;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.header {
  background-color: #f3f7f8;
}
.mine {
  background-color: inherit;
}
.footer-top,
.footer-middle {
  background-color: #31415b;
}
.footer-bottom {
  background-color: #293349;
}

/*-------------------------------------------------------*/
.wrapper-header-top {/*центровщик*/
  background-color: #293349;
  display: flex;
  justify-content: center;
  outline: 2px solid red;
  /*min-heigt: 42px;*/
}

/*-------------------------------------------------------*/
.wrapper-header-middle {/*центровщик*/
  display: flex;
  justify-content: center;
  outline: 2px solid red;
  /*min-heigt: 160px;*/
}

/*-------------------------------------------------------*/
.header-navi {/*центровщик*/
  display: flex;
  justify-content: center;
  outline: 2px solid red;
  /*min-height: 120px;*/
}

/*---------------------------------------------------------*/
.wrapper-center-about {/*центровщик*/
  display: flex;
  justify-content: center;
  outline: 2px solid red;
}
/*---------------------------------------------------------*/
.footer-top {/*центровщик*/
   display: flex;
   justify-content: center;
   outline: 2px solid red;
}
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
/*стили HEADER*/

.header-top {
  width: 940px;
  min-heigt: 42px;
  display: flex;
  outline: 4px solid yellow;/*визуализатор блоков 2-й уровень*/
  }
a.logo {

  width:220px;
  text-align: center;
    font-family: inherit;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ed3543;
    box-shadow: 0 5px 0 0 #b42833;
    padding-top: 13px;
    }
a.logo:hover {
    background-color: #ca2b36;
    }
a.logo:active {
    background-color: #ba2731;
    }
.header-top input[type="text"],
.header-top input[type="text"]:active {
    font-family: inherit;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #293349;
    border: none;
    padding-left: 49px;
    }
.header-top input[type="text"]:hover {
    background-color: #212939;
    }
.header-top input[type="text"]:focus {
    background-color: #ffffff;
    }
.header-top input::placeholder {
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  padding-left: 49px;
  padding-top: 14px;
}
/**/

.header-top a.bookmarks,
.header-top a.basket {
  padding-top: 14px;
    width: 150px;
    text-align: center;
    font-family: inherit;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #293349;
}
.header-top a.bookmarks:hover,
.header-top a.basket:hover {
    background-color: #212939;
}
.header-top a.bookmarks:active,
.header-top a.basket:active {
    background-color: #161d29;
    color: #8b8e94;
}
.header-top a.button-order {
  width: 150px;
  text-align: center;
  padding-top: 14px;
    font-family: inherit;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #62a63d;
    }
.header-top a.button-order:hover {
    background-color: #5fbb2d;
    }
.header-top a.button-order:active {
    background-color: #508534;
    color: #8b8e94;
    }
    /*---------------------------------------------*/
    .header-middle {
      margin: 0;
      padding: 0;
      width: 940px;
      min-heigt: 160px;
      display: flex;
      /*justify-content: space-between;*/
      align-items: flex-start;
      outline: 4px solid yellow;/*визуализатор блоков 2-й уровень*/
    }
.header-middle h1.header-heading {
  margin: 0;
  padding: 0;
    display: flex;
    font-family: inherit;
    font-size: 16px;
    font-style: italic;
    color: #ee3643;
    font-weight: 400;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 45px;
    outline: 2px solid blue;/*визуализатор блоков 3-й уровень*/
    width: 320px;
}
.header-middle .phone-address {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  outline: 2px solid blue;/*визуализатор блоков 3-й уровень*/
  width: 330px;
  padding-top: 48px;
    /*margin-left:75px;*/
    /*padding: 0;*/
    /*padding-top: 46px;*/
}

.header-middle a.phone {
    display: block;
    /*width: 270px;*/
    margin: 0;
    padding: 0;
    position: relative;
    font-family: inherit;
    font-size: 21px;
    line-height:26px;
    color: #ee3643;
    font-weight: 400;
    border: 3px solid #ffffff;
    padding: 10px 50px 10px 70px;

}
.header-middle a.phone::before {
  content: "";

  position: absolute;
  top: 0px;
  left: 0px;

  width: 19px;
  height: 19px;

  background-image: url("img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  /*opacity: 0.3;*/
}
.header-middle p.our-address {
    font-family: inherit;
    font-size: 14px;
    color: #32425c;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding-left: 10px;
    /*align-self: center;*/
}
.header-middle .client-navi {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  padding-top: 48px;
  outline: 2px solid blue;/*визуализатор блоков 3-й уровень*/
  /*margin-bottom: 70px;*/
  width: 282px;
  /*box-sizing: border-box;*/
}

.header-middle .client-navi a.batton-enter,
.header-middle .client-navi a.batton-registration {
    display: block;
    font-family: inherit;
    font-size: 21px;
    line-height:26px;
    color: #000000;
    font-weight: 400;
    background-color: #ffffff;
    padding: 12px 20px 12px 20px;
}
.header-middle .client-navi a.batton-enter {
  padding-left: 50px;
}
.header-middle .client-navi a.batton-registration {
    margin-left: 10px;
}
.header-middle .client-navi a.batton-enter:hover,
.header-middle .client-navi a.batton-registration:hover {
    color: #ee3643;
    background-color: #ffffff;
}
.header-middle .client-navi a.batton-enter:active,
.header-middle .client-navi a.batton-registration:active {
    color: #c5c5c5;
    background-color: #ffffff;
}
/*--------------------------------------------------------*/

.navi-top {
  margin: 0;
  padding: 0;
  width: 940px;
  min-height: 60px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  outline: 4px solid yellow;/*визуализатор блоков 2-й уровень*/
  /*justify-content: space-between;*/

  }

  /*align-items: flex-start;*/

.header-navi li:nth-child(1) a,
.header-navi li:nth-child(2) a,
.header-navi li:nth-child(3) a,
.header-navi li:nth-child(4) a,
.header-navi li:nth-child(5) a,
.header-navi li:nth-child(6) a,
.header-navi li:nth-child(7) a {
  display:inline-block;
    font-family: inherit;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #31415b;
    width: 134px;
    text-align: center;
    padding-top:18px;
    padding-bottom: 18px;
    box-shadow: 0 5px 0 0 #293349;
}
.header-navi li:nth-child(1) a:hover,
.header-navi li:nth-child(2) a:hover,
.header-navi li:nth-child(3) a:hover,
.header-navi li:nth-child(4) a:hover,
.header-navi li:nth-child(5) a:hover,
.header-navi li:nth-child(6) a:hover,
.header-navi li:nth-child(7) a:hover {
    background-color: #293349;
}
.header-navi li:nth-child(1) a:active,
.header-navi li:nth-child(2) a:active,
.header-navi li:nth-child(3) a:active,
.header-navi li:nth-child(4) a:active,
.header-navi li:nth-child(5) a:active,
.header-navi li:nth-child(6) a:active,
.header-navi li:nth-child(7) a:active {
    background-color: #1d2639;
    color: #8b8e94;
}
/*--------------------------------------------------------*/
/*стили MAIN*/
.company-contacts {
  width: 940px;
  height: 368px;
  margin-bottom: 87px;
  display: flex;
  justify-content: space-between;
  outline: 4px solid yellow;/*визуализатор блоков 2-й уровень*/
  }

.company h2,
.contacts h2 {
    text-transform: uppercase;
    font-family: inherit;
    font-size: 30px;
    /*line-height: 10px;*/
    color: #000000;
    /*display: block;*/
    /*margin-bottom: -15px;*/
    margin: 0;
    padding: 0;
}
.company p,
.contacts p {
    text-transform: none;
    font-family: PT Sans;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    display: block;
    padding-bottom: 0px;
    margin: 0;
    padding: 0;
}
.company ul {
    margin: 0;
    padding: 0;
    /*display: block;*/
}
.company li {
    text-transform: none;
    font-family: inherit;
    font-size: 18px;
    line-height: 40px;
    color: #000000;
}
.company a.batton-about-company,
.contacts a.batton-email {
    display: table-cell;
    /*display: inline-block;*/
    height: 38px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    background-color: #ed3543;
    border-radius: 2px;
}
.company a.batton-about-company {
    width: 220px;
}
.contacts a.batton-email {
    width: 300px;
}
.map {
    margin-top: 20px;
    margin-bottom: 20px;
}
/*-------------------------------------------*/
.company {
    width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    outline: 2px solid blue;/*визуализатор блоков 3-й уровень*/

    /*height: 368px;*/
}
.contacts {
    width:300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    outline: 2px solid blue;/*визуализатор блоков 3-й уровень*/

    /*height: 368px;*/
}

/*------------------------------------------*/
.modal-map,
.write-us {
    display: none;
}
/*стили FOOTER*/

.footer-navi {
    width: 940px;
    min-heigt: 63px;
    display: flex;
    outline: 4px solid yellow;/*визуализатор блоков 2-й уровень*/
    justify-content: space-between;
}

.footer-logo {
    width: 220px;
    /*display: flex;*/
    padding-top: 20px;
    padding-left: 42px;
    outline: 2px solid blue;/*визуализатор блоков 3-й уровень*/
}


.navi-up {
    margin:0;
    padding:0;
    display: flex;
    justify-content: flex-end;
    outline: 2px solid blue;/*визуализатор блоков 3-й уровень*/
}
/*------------------------------------------------------*/
a.footer-logo {


  /*text-align: center;*/
    font-family: inherit;
    font-size: 30px;
    /*line-height: 30px;*/
    /*color: #ffffff;*/
    /*font-family:inherit;*/
    /*text-transform: uppercase;*/
    /*background-color: #ed3543;*/
    /*box-shadow: 0 5px 0 0 #b42833;*/
    padding-top: 20px;
    padding-left: 42px;
    }

.footer-navi li:nth-child(1) a,
.footer-navi li:nth-child(2) a,
.footer-navi li:nth-child(3) a,
.footer-navi li:nth-child(4) a,
.footer-navi li:nth-child(5) a {
    display: inline-block;
    font-family: inherit;
    font-size: 18px;
    line-height: 20px;
    color:#ffffff;
    width: 110px;
    text-align: right;
    padding-top:42px;
    padding-bottom: 8px;
    background-color: #31415b;
}
.footer-navi li:nth-child(1) a:hover,
.footer-navi li:nth-child(2) a:hover,
.footer-navi li:nth-child(3) a:hover,
.footer-navi li:nth-child(4) a:hover,
.footer-navi li:nth-child(5) a:hover {
    text-decoration: underline;
}
.footer-navi li:nth-child(1) a:active,
.footer-navi li:nth-child(2) a:active,
.footer-navi li:nth-child(3) a:active,
.footer-navi li:nth-child(4) a:active,
.footer-navi li:nth-child(5) a:active {
    color: #919ba9;
}
.navi-middle {
  margin:0;
  padding:0;
}
.footer-navi-middle li:nth-child(1) a,
.footer-navi-middle li:nth-child(2) a,
.footer-navi-middle li:nth-child(3) a,
.footer-navi-middle li:nth-child(4) a {
    font-family: inherit;
    font-size: 18px;
    line-height: 20px;
    color:#ffd180;
    background-color: #31415b;
}
.footer-navi-middle li:nth-child(1) a:hover,
.footer-navi-middle li:nth-child(2) a:hover,
.footer-navi-middle li:nth-child(3) a:hover,
.footer-navi-middle li:nth-child(4) a:hover {
    text-decoration: underline;
}
.footer-navi-middle li:nth-child(1) a:active,
.footer-navi-middle li:nth-child(2) a:active,
.footer-navi-middle li:nth-child(3) a:active,
.footer-navi-middle li:nth-child(4) a:active {
    color: #92846c;
}
.footer-middle>.address {
    display: inline-block;
    text-transform: none;
    font-family: inherit;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    background-color: #31415b;
}
.footer-bottom>.copyright-company,
.footer-copyright>p {
    display: inline-block;
    text-transform: none;
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #293349;
}
.copyright-email>.e-mail,
.copyright-developer>.developer {
    color:#ffd180;
}
.copyright-email>.e-mail:hover,
.copyright-developer>.developer:hover {
    text-decoration: underline;
}
.copyright-email>.e-mail:active,
.copyright-developer>.developer:active {
    color:#ed3543;
}

/*страница - CATALOG*/
.client-account-login>.client-name {
    font-family: inherit;
    font-size: 21px;
    color: #000000;
    font-weight: 400;
    background-color: #ffffff;
}
.client-account-login>.client-name:active {
    color: #c5c5c5;
}
.order-and-account>li .btn-order,
.order-and-account>li .btn-account {
    text-decoration: underline;
    color: #32425c;
}
.order-and-account>li .btn-order:hover,
.order-and-account>li .btn-account:hover {
    text-decoration: underline;
    color: #ee3643;
}
.order-and-account>li .btn-order:active,
.order-and-account>li .btn-account:active {
    text-decoration: underline;
    color: #c5c5c5;
}
.breadcrumbs li:nth-child(2) a,
.breadcrumbs li:nth-child(3) a,
.breadcrumbs li:nth-child(4) {
    text-transform: uppercase;
    font-family: PT Sans;
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    color: #000000;
}
.main h2 {
    text-transform: uppercase;
    color: #32425c;
    font-family: inherit;
    font-size: 30px;
    line-height: 36px;
}
fieldset {
    border: 0;
}
legend {
  text-transform: uppercase;
  color: #000000;
  font-family: PT Sans;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
label {
  text-transform: uppercase;
  color: #000000;
  font-family: PT Sans;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
}
.filter input[value="Показать"] {
  text-transform: uppercase;
  color: #000000;
  font-family: PT Sans;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}
.catalog-card a.buy {
  text-transform: uppercase;
  color: #ffffff;
  font-family: inherit;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  background-color: #63a53d;
}
.catalog-card a.in-bookmark {
  text-transform: uppercase;
  color: #3c4b64;
  font-family: inherit;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  background-color: #ffffff;
}
.catalog h3 {
  text-transform: none;
  color: #000000;
  font-family: PT Sans;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}
.catalog .card-title .old-price {
  color: #999999;
  font-family: PT Sans;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: line-through;
}
.catalog .card-title .new-price {
  color: #ffffff;
  font-family: PT Sans;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  background-color: #ee3643;
}
.buy-finish {
  display: none;
}
/*Сеточные стили*/
html,
body {

}
