body {

    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    text-transform: none;
    background-color: #ffffff;
}
a {
    text-decoration: none;
}
/*-----------------------------------------------------*/
.header {
    background-color: #f3f7f8;
}
.mine {
    background-color: #ffffff;
}
.footer-top,
.footer-middle {
    background-color: #31415b;
}
.footer-bottom {
    background-color: #293349;
}

/*-------------------------------------------------------*/
.wrapper-header-top {
    background-color: #293349;
}
.visually-hidden {
    display: block;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*-------------------------------------------------------*/
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
/*стили HEADER*/

.centering {
    width: 940px;
    display: flex;
    margin:0 auto;
    padding: 0 10px;
    outline: 1px solid black;/*визуализатор блоков 2-й уровень*/
  }
.logo {
    width:244px;
    text-align: center;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ed3543;
    box-shadow: 0 5px 0 0 #b42833;
    padding-top: 11px;
}
.logo[href]:hover {
    background-color: #ca2b36;
}
.logo[href]:active {
    background-color: #ba2731;
}
/*----*/
.header-top .input-search,
.header-top .input-search:active {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #293349;
    border: none;
    padding-left: 49px;
}
.header-top .input-search:hover {
    background-color: #212939;
}
.header-top .input-search:focus {
    background-color: #ffffff;
    color: #000000;
}

.header-top .input-search::placeholder {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    padding-left: 0px;
    padding-top: 16px;
}
.header-top label {
    position: relative;
}
.input-search+label::before {
    content: "";

    position: absolute;
    top: -29px;
    left:18px;


    width: 17px;
    height: 17px;
    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}
.input-search:hover+label::before {
    content: "";

    position: absolute;
    top: -29px;
    left:18px;

    width: 17px;
    height: 17px;
    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
}
.input-search:active+label::before {
    content: "";

    position: absolute;
    top: -29px;
    left: 18px;

    width: 17px;
    height: 17px;
    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.6;
}
.input-search:focus+label::before {
    content: "";

    position: absolute;
    top: -29px;
    left:18px;

    width: 17px;
    height: 17px;
    background-image: url("../img/icon-search-red.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    /*opacity: 0.6;*/
}
/**/

.header-top .bookmarks,
.header-top .basket {

    padding-top: 13px;
    padding-left: 18px;
    width: 148px;
    text-align: center;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #293349;
}
.header-top .bookmarks:hover,
.header-top .basket:hover {
    background-color: #212939;
}
.header-top .bookmarks:active,
.header-top .basket:active {
    background-color: #161d29;
    color: rgba(255,255,255,0.6);
}
.bookmarks {
    position: relative;
}
.bookmarks::before {
    content: "";

    position: absolute;
    top: 12px;
    left:17px;

    width: 14px;
    height: 16px;
    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}
.bookmarks:hover::before {
    content: "";

    position: absolute;
    top: 12px;
    left:17px;

    width: 14px;
    height: 16px;
    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
}
.bookmarks:active::before {
    content: "";

    position: absolute;
    top: 12px;
    left:17px;

    width: 14px;
    height: 16px;
    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.6;
}
.basket {
    position: relative;
}
.basket::before {
    content: "";

    position: absolute;
    top: 12px;
    left:19px;

    width: 14px;
    height: 16px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}
.basket:hover::before {
  content: "";

  position: absolute;
  top: 12px;
  left:19px;

  width: 14px;
  height: 16px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
    opacity: 1;
}
.basket:active::before {
  content: "";

  position: absolute;
  top: 12px;
  left:19px;

  width: 14px;
  height: 16px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
    opacity: 0.6;
}

.header-top .button-order {
    width: 167px;
    text-align: center;
    padding-top: 13px;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #62a63d;
}
.header-top .button-order:hover {
    background-color: #5fbb2d;
}
.header-top .button-order:active {
    background-color: #508534;
    color: #8b8e94;
}
    /*---------------------------------------------*/

.header-middle .header-heading {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: #ee3643;
    font-weight: 400;
    padding-top: 49px;
    padding-left: 51px;
    padding-bottom: 41px;
    margin-right: 72px;
    outline: 2px solid blue;/*визуализатор блоков 3-й уровень*/
}
.header-middle .phone-address {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 2px solid blue;/*визуализатор блоков 3-й уровень*/
    margin-right: 46px;
}
.header-middle .phone {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height:26px;
    color: #ee3643;
    font-weight: 400;
    border: 3px solid #ffffff;
    padding: 7px 50px 7px 71px;
    margin-top: 46px;
    margin-bottom: -5px;
}
.phone::before {
    content: "";

    position: absolute;
    top: 10px;
    left: 13px;

    width: 19px;
    height: 19px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.header-middle .our-address {
    display: block;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    color: #32425c;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
}
.header-middle .client-navi {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding-top: 45px;
    outline: 2px solid blue;/*визуализатор блоков 3-й уровень*/
    margin-left: 0 auto;
    width: 282px;
}
.client-navi .button-enter {
  position: relative;
}
.client-navi .button-enter::before {
  content: "";

  position: absolute;
  top: 14px;
  left:14px;

  width: 20px;
  height: 17px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.client-navi .button-enter:hover::before {
  content: "";

  position: absolute;
  top: 14px;
  left:14px;

  width: 20px;
  height: 17px;
  background-image: url("../img/icon-login-blue.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.client-navi .button-enter:active::before {
  content: "";

  position: absolute;
  top: 14px;
  left:14px;

  width: 20px;
  height: 17px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.client-navi a{
    display: block;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height:21px;
    color: #000000;
    font-weight: 400;
    background-color: #ffffff;
    padding: 13px 25px 12px 24px;
}
.client-navi .button-enter {
    padding-left: 48px;
}
.client-navi .button-registration {
    margin-left: 10px;
}
.client-navi .button-enter:hover,
.client-navi .button-registration:hover {
    color: #ee3643;
    background-color: #ffffff;
}
.client-navi .button-enter:active,
.client-navi .button-registration:active {
    color: #c5c5c5;
    background-color: #ffffff;
}
/*--------------------------------------------------------*/

.header-navi .navi-top {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 940px;
    margin-bottom: 64px;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #31415b;
    box-shadow: 0 5px 0 0 #293349;
    outline: 2px solid blue;/*визуализатор блоков 3-й уровень*/
}

.navi-top li:last-of-type {
    flex-grow: 1;
}
.navi-top li:first-of-type {
    flex-grow: 1;
    text-align: right;
}

.navi-top a {
    display: block;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    padding-top:21px;
    padding-bottom: 17px;
    padding-left: 31px;
    padding-right: 31px;
}
.navi-top a:hover {
    background-color: #293349;
}
.navi-top a:active {
    background-color: #1d2639;
    color: #8b8e94;
}
/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
/*стили MAIN*/

.company-contacts {
    margin-bottom: 87px;
    display: flex;
    justify-content: space-between;
    min-height: 370px;

}

.company h2 {
    text-transform: uppercase;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #000000;
    margin: 0;
    padding: 0;
    margin-bottom:5px;
}
.contacts h2 {
    text-transform: uppercase;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #000000;
    margin: 0;
    padding: 0;
    margin-bottom:6px;
}
.company p,
.contacts p {
    text-transform: none;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 0px;
}

.company ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: -10px;
}
.company li {
    text-transform: none;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 40px;
    color: #000000;
    padding-left: 36px;
    padding-top: -6px;
    margin-top: 0px;
    position: relative;
}
.company li::before {
    content: "";
    position: absolute;

    top: 19px;
    left: 0px;

    width: 25px;
    height: 2px;
    background-color: #ed3543;
}
.company .batton-about-company,
.contacts .batton-email {
    display: inline-block;
    min-width: 220px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    background-color: #ed3543;
    border-radius: 2px;
    padding-top: 12px;
    padding-bottom: 10px;
}
.company .batton-about-company:hover,
.company .batton-about-company:active,
.contacts .batton-email:hover,
.contacts .batton-email:active {
    background-color: #ca2b36;
}
.company .batton-about-company {
    width: 220px;
}
.contacts .batton-email {
    width: 300px;
}
.map {
    margin-top: 15px;
    margin-bottom: 15px;
}
/*-------------------------------------------*/
.company {
    width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    outline: 2px solid blue;/*визуализатор блоков 3-й уровень*/
}
.contacts {
    width:300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    outline: 2px solid blue;/*визуализатор блоков 3-й уровень*/
    min-height: 370px;
}
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/

/*стили FOOTER*/

.block-footer-logo {
    list-style: none;
    display: flex;
    list-style: none;
    margin:0;
    padding:0;
    outline: 2px solid blue;/*визуализатор блоков 3-й уровень*/
}
.navi-up {
    display: flex;
    max-width: 560px;
    flex-wrap: wrap;
    align-items: flex-end;
    list-style: none;
    margin:0;
    padding:0;
    margin-left: auto;
    outline: 2px solid blue;/*визуализатор блоков 3-й уровень*/
}

.block-footer-logo a {
    display: inline-block;
    width: 220px;
    text-align: center;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ed3543;
    box-shadow: 0 5px 0 0 #b42833;
    padding-top: 16px;
    padding-bottom: 16px;
}
/*-------------------------------------------------------------*/
.navi-up a {

    /*display: inline-block;*/
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    color:#ffffff;
    text-align: right;
    /*text-align: bottom;
    padding-top:38px;
    padding-bottom: 0px;
    background-color: #31415b;*/
}

.navi-up li:not(:first-of-type) {
    margin-left: 60px;
}
.navi-up a:hover {
    text-decoration: underline;
}
.navi-up a:active {
    color: #919ba9;
}
/*---------------------------------------------------*/
/*------------------------------------------*/
.footer-middle {
    display: flex;
}
.footer-middle .address {
    display: flex;
    outline: 2px solid blue;/*визуализатор блоков 3-й уровень*/
    text-transform: none;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    background-color: #31415b;
    margin-top: 36px;
    margin-bottom: 54px;
}
.footer-navi-middle {
    display: flex;
    margin-left: auto;
}
.navi-middle {
    display: flex;
    max-width: 550px;
    flex-wrap: wrap;
    list-style: none;
    margin:0;
    padding:0;
    align-items: flex-start;
    outline: 2px solid blue;/*визуализатор блоков 3-й уровень*/

}
.navi-middle a {
    display: inline-block;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    text-align: bottom;
    color:#ffd180;
    /*width: 130px;*/
    background-color: #31415b;
    text-align: right;
    padding-top: 36px;
}

.navi-middle li:not(:first-of-type) {
    margin-left: 60px;
}
.navi-middle a:hover {
    text-decoration: underline;
}
.navi-middle a:active {
    color: #92846c;
}
/*---------------------------------------------------*/
/*------------------------------------------*/
.footer-bottom-flex {
    justify-content: space-between;
}
.footer-bottom .copyright-company {
    display: flex;
    margin-top: 38px;
    margin-bottom: 28px;
    outline: 2px solid blue;/*визуализатор блоков 3-й уровень*/
}
/*------------------------------------------*/
.social-buttons {
    display: flex;
    justifu-content: center;
    margin: 0;
    outline: 2px solid blue;/*визуализатор блоков 3-й уровень*/
    margin-top: 35px;
    margin-left: 50px;
}

.social-btn {
    width: 41px;
    height: 41px;
    margin-right: 5px;
    font-size: 0;
    background-color: #212939;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.instagram {
    margin-right: 0;
}
.icon-vk {
    background-image: url("../img/icon-vk.svg");
}
.facebook {
    background-image: url("../img/icon-fb.svg");
}
.instagram {
    background-image: url("../img/icon-insta.svg");
}
.social-btn:hover {
    background-color: #ed3543;
}
.social-btn:active {
    background-color: #ed3543;
}

/*---------------------------------*/


.footer-copyright {
    display: flex;
    outline: 2px solid blue;/*визуализатор блоков 3-й уровень*/
}
.footer-bottom .copyright-company,
.footer-copyright p {
    display: inline-block;
    text-transform: none;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #293349;
}

.copyright-developer {
    margin-left: 54px;
    margin-top: 38px;
    margin-bottom: 28px;
    margin-right: 14px;
}
.copyright-email {
    margin-top: 38px;
    margin-bottom: 28px;
    margin-right: 0px;
}
.copyright-email .e-mail,
.copyright-developer .developer {
    color:#ffd180;
}
.copyright-email .e-mail:hover,
.copyright-developer .developer:hover {
    text-decoration: underline;
}
.copyright-email .e-mail:active,
.copyright-developer .developer:active {
    color:#ed3543;
}
/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
/*страница - CATALOG*/

.header-top .basket-not-empty {/*для Java*/
    background-color: #ed3543;
}
.client-account {
    display: flex;
    flex-direction: column;
    outline: 2px solid blue;/*визуализатор блоков 3-й уровень*/
    margin: 0 auto;
    min-width: 300px;

}
.client-account-login {
    display: flex;
    margin:0;
    padding:0;
    padding-top: 46px;
}
.client-account-login .client-name {
    display: block;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    font-weight: 400;
    background-color: #ffffff;
    /*margin-top: 42px;*/
    padding: 12px 0;
    padding-right: 23px;
    padding-left: 50px;

    /*width: 282px;*/
    white-space: nowrap;
    position: relative;
}

.client-account-login .client-name:active {
    color: #c5c5c5;
}
.client-name::before {

    content: "";

    position: absolute;
    top: 12px;
    left:16px;

    width: 20px;
    height: 18px;
    background-image: url("../img/icon-user.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.client-name:hover::before {

    content: "";

    position: absolute;
    top: 12px;
    left:16px;

    width: 20px;
    height: 18px;
    background-image: url("../img/icon-user-blue.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.icon-exit {
    display: block;
    width: 44px;
    height: 44px;
    background-color: white;
    position: relative;
}
.icon-exit::after {

    content: "";

    position: absolute;
    top: 14px;
    right:10px;

    width: 21px;
    height: 17px;
    background-image: url("../img/icon-logout.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.icon-exit:hover::after {

    content: "";

    position: absolute;
    top: 14px;
    right:10px;

    width: 21px;
    height: 17px;
    background-image: url("../img/icon-logout-blue.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
/*-------------------------*/
.order-and-account {
    list-style: none;
    display: flex;
    margin:0;
    padding:0;
}
.order-and-account .btn-order {
    display: inline-block;
    text-decoration: underline;
    padding-top: 8px;
    margin-left: 22px;
    margin-right: 32px;
    position: relative;
}
.btn-order::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 90px;

    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #32425c;
}
.order-and-account .btn-account {
    display: inline-block;
    text-decoration: underline;
    padding-top: 8px;

}
.order-and-account .btn-order,
.order-and-account .btn-account {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #32425c;

}
.order-and-account .btn-order:hover,
.order-and-account .btn-account:hover {
    text-decoration: underline;
    color: #ee3643;
}
.order-and-account .btn-order:active,
.order-and-account .btn-account:active {
    text-decoration: underline;
    color: #c5c5c5;
}

/*-------------------------*/
/*-------------------------*/
.header {
    margin-bottom: 20px;
}
.breadcrumbs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-bottom: 20px;
    outline: 2px solid blue;/*визуализатор блоков 3-й уровень*/
}

.breadcrumbs a,
.crumbs-current {
    text-transform: uppercase;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}
.breadcrumbs .home {
    display: block;
    position: relative;
}
.breadcrumbs .home::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 0px;

  width: 15px;
  height: 12px;

  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}


.breadcrumbs li:not(:first-of-type) {
    margin-left: 40px;
    position: relative;
}
.breadcrumbs li::before {
    content: "";
    position: absolute;
    top: 4px;
    left: -23px;

    width: 8px;
    height: 12px;

    background-image: url("../img/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.breadcrumbs li:nth-of-type(2) {
  margin-left: 55px;
}
/*-------------------------*/
.perforatory {
    text-transform: uppercase;
    color: #32425c; /*здесь именно этот цвет по стайлгайду*/
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    margin-left: 28px;
    margin-top: 30px;
    margin-bottom: 30px;

    outline: 2px solid blue;/*визуализатор блоков 3-й уровень*/
}
.fon-perfo {
    background-color: #f1f5f7;
    margin-bottom: 20px;
}
/*-------------------------*/
.title-filter,
.title-sorting {
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 14px;
    color: #000000;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title-filter {
    width: 220px;
    box-sizing: border-box;
    background-color: #f7f2ec;
    margin-right: 20px;
    padding-left:19px;
}
.title-sorting {
    width: 220px;
    padding-left:19px;
}
.fon-for-sorting {
  display: flex;
  background-color: #f7f2ec;
  outline: 2px solid blue;/*визуализатор блоков 3-й уровень*/

}
.sort-by {
  padding: 0;
  margin: 0;
  width: 354px;
  margin-right: 30px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /outline: 2px solid blue;/*визуализатор блоков 3-й уровень*/
}
.sort-by a {
    display: block;
    font-size: 13px;
    line-height: 14px;
    color: #acaaa5;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px dotted #acaaa5;
    border-color: #ed3543;
    /outline: 2px solid blue;/*визуализатор блоков 3-й уровень*/
}
.sort-by a:hover {
    color: #231f20;
    border-bottom: 1px solid #ed3543;
}
.sort-by a:active {
    color: #ed3543;
    border-bottom: none;
}
.arrows {
    display: flex;
    position: relative;
    background-color: #f7f2ec;
}
.arrows a {
    text-decoration: none;
}
.arrow-up,
.arrow-down {
    width: 38px;
    height: 38px;
}
.arrow-up div {
    border-top: none;
    border-left: 6px solid #f7f2ec;
    border-right: 6px solid #f7f2ec;
    border-bottom: 10px solid #c5c5c5;
    position: absolute;
    bottom: 14px;
    left: 14px;
}
.arrow-down div {
    border-top: 10px solid #c5c5c5;
    border-left: 6px solid #f7f2ec;
    border-right: 6px solid #f7f2ec;
    border-bottom: none;
    position: absolute;
    top: 14px;
    left: 46px;
}
.arrow-up div:hover {
    border-top: none;
    border-left: 6px solid #f7f2ec;
    border-right: 6px solid #f7f2ec;
    border-bottom: 10px solid #231f20;
    position: absolute;
    bottom: 14px;
    left: 14px;
}
.arrow-down div:hover {
    border-top: 10px solid #231f20;
    border-left: 6px solid #f7f2ec;
    border-right: 6px solid #f7f2ec;
    border-bottom: none;
    position: absolute;
    top: 14px;
    left: 46px;
}
.arrow-up div:active {
    border-top: none;
    border-left: 6px solid #f7f2ec;
    border-right: 6px solid #f7f2ec;
    border-bottom: 10px solid #ed3543;
    position: absolute;
    bottom: 14px;
    left: 14px;
}
.arrow-down div:active {
    border-top: 10px solid #ed3543;
    border-left: 6px solid #f7f2ec;
    border-right: 6px solid #f7f2ec;
    border-bottom: none;
    position: absolute;
    top: 14px;
    left: 46px;
}
.sort-by .active {
    color: #ed3543;
    border-bottom: none;
}

 .arrows .active div {
    border-top: none;
    border-left: 6px solid #f7f2ec;
    border-right: 6px solid #f7f2ec;
    border-bottom: 10px solid #ed3543;
    position: absolute;
    bottom: 14px;
    left: 14px;

}
/*-----------------------------*/
.filters-and-cads {
  justify-content: space-between;;
}

.filters {
    outline: 2px solid blue;/*визуализатор блоков 3-й уровень*/
}
/*--------------------------*/
.price {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 30px;
  color: #000000;
  font-family: "PT Sans";
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 9px;
  margin-bottom: 14px;
}
.box {
  padding: 27px 17px;
  background: #f7f2ec;
  width: 220px;
  box-sizing: border-box;
  position: relative;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding-bottom: 35px;
  margin-bottom: 11px;
  /*background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;*/
}

.slider-left {
  position: absolute;
  top: 29.5px;
  left: 19px;

  width: 20px;
  height: 20px;
  box-sizing: border-box;

  border: 8px solid #ffffff;
  background: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 #e0ddd8;
}
/*---------------------------------------*/
/*---------------------------------------*/

input[type=range] {
  -webkit-appearance: none;
  padding: 0;
  /margin: 18px 0;
  /width: 100%;
  width: 170px;

}
input[type=range]:focus {
  outline: none;
}
/*------------для движка WEBKIT, BLINK-------------*/
input[type=range]::-webkit-slider-runnable-track {
  width:  170px;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  /*/box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  background: #00ca74;
  border-radius: 0px;
  border: 0.2px solid #00ca74;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0 2px 0 0 #e0ddd8;
  border: 8px solid #ffffff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ababab;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.5px;
  padding: 0px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #00ca74;
}
/*------------для движка GEKO------------------------*/
input[type=range]::-moz-range-track {
  width: 170px;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  background: #2a6495;
  border-radius: 0px;
  border: 0.2px solid #00ca74;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0 2px 0 0 #e0ddd8;
  border: 8px solid #ffffff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ababab;
  cursor: pointer;
  box-sizing: border-box;
}
/*------------для движка TRIDENT------------------------*/
input[type=range]::-ms-track {
  width: 170px;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 20px ;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #00ca74;
  border-radius: 0px;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #d7dbdd;
  border-radius: 0px;
}
input[type=range]::-ms-thumb {
  box-shadow: 0 2px 0 0 #e0ddd8;
  border: 8px solid #ffffff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ababab;
  cursor: pointer;
  box-sizing: border-box;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
input[type=range]::-ms-tooltip { /* Скрываем "подсказку" */
	display: none;
}
/*---------------------------------------*/
/*----------- Выбираем цену -----------*/
.price-range {
    width: 220px;
    display: flex;
    justify-content: space-between;
    /margin-top: 10px;
    /padding: 10px;
    /*background: rgba(0, 128, 0, 0.2);
    box-shadow: 0 0 0 3px green;*/
}
.origin,output {
    /display: inline-block;
    /box-sizing: border-box;
    width:94px;
    /height: 37px;
    text-align: center;
    background: #f7f2ec;
    padding-top: 9px;
    padding-bottom: 10px;
    border-radius: 3px;

    font-size: 17px;
    line-height: 18px;
    color: #000000;
    font-family: "PT Sans", Arial, sans-serif;
    text-align: center;
    margin-bottom: 26px;

}
.dash {
    padding-top: 10px;
}


/*--------------------------*/


.filters ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.filter-option {
    /*background: rgba(0, 128, 0, 0.2);
    box-shadow: 0 0 0 3px green;*/
    margin-bottom: 21px;
    padding-left: 34px;
}
.filter-option:last-of-type {
    margin-bottom: 25px;
}
.fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    margin-bottom: 0px;
    /*background: rgba(0, 128, 0, 0.2);
    box-shadow: 0 0 0 3px green;*/
}

.line {
    width: 220px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 16px;
}
.fieldset:last-of-type {
    margin-bottom: 53px;
}
.legend {
    text-transform: uppercase;
    color: #000000;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 14px;
}
.label {
    text-transform: uppercase;
    color: #000000;
    font-family: PT Sans;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;

    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
}
.filter-input-checkbox:not(:checked) + label::before {
  content: "";
  position: absolute;

  width: 23px;
  height: 23px;

  top: -1px;
  left:-34px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: -1px;
  left: -34px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
 }
 .filter-input-checkbox:not(:checked):hover + label::before {
   content: "";
   position: absolute;

   width: 23px;
   height: 23px;

   top:-1px;
   left:-34px;

   background-image: url("../img/checkbox-off-hover.svg");
   background-repeat: no-repeat;
   background-position: 0 0;
 }
 .filter-input-checkbox:checked:hover + label::after {
   content: "";

   position: absolute;
   top: -1px;
   left: -34px;

   width: 27px;
   height: 23px;

   background-image: url("../img/checkbox-on-hover.svg");
   background-repeat: no-repeat;
   background-position: 0 0;
  }

 .filter-input-radio:not(:checked) + label::before {
   content: "";
   position: absolute;

   width: 25px;
   height: 25px;

   top:-2px;
   left:-34px;

   background-image: url("../img/radio-off.svg");
   background-repeat: no-repeat;
   background-position: 0 0;

 }
 .filter-input-radio:checked + label::after {
   content: "";

   position: absolute;
   top: -2px;
   left: -34px;

   width: 25px;
   height: 25px;

   background-image: url("../img/radio-on.svg");
   background-repeat: no-repeat;
   background-position: 0 0;
  }
  .filter-input-radio:not(:checked):hover + label::before {
    content: "";
    position: absolute;

    width: 25px;
    height: 25px;

    top:-2px;
    left:-34px;

    background-image: url("../img/radio-off-hover.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

  }
  .filter-input-radio:checked:hover + label::after {
    content: "";

    position: absolute;
    top: -2px;
    left: -34px;

    width: 25px;
    height: 25px;

    background-image: url("../img/radio-on-hover.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
   }

  /*---------*/

  .filter-input:disabled + label,
  .filter-input:disabled + label::after,
  .filter-input:disabled + label::before,
  .filter-input:disabled:hover + label,
  .filter-input:disabled:hover + label::after,
  .filter-input:disabled:hover + label::before {
    color: #c5c5c5;
    opacity:0.7;
  }

.filter .btn-show {
    text-transform: uppercase;
    color: #000000;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    background-color: #ffffff;
    padding: 10px 38px;
}
/*-------------------------*/
.catalog-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 700px;
    margin: 20px auto;
    outline: 2px solid blue;/*визуализатор блоков 3-й уровень*/
    }
.catalog-card {
    position: relative;
    width: 218px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    line-height: 20px;
    text-align: center;
}
.catalog-card:hover {
    box-shadow: 0px 0px 10px 0px #b2b6be,1px 10px 20px 0px #b2b6be;
}

.catalog-card:not(:nth-of-type(3n)) {
    margin-right: 20px;
}
.catalog-list {
    font-size: 0;
}
.catalog-card {
    font-size: 16px;
}
.catalog-card .flag {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}
.catalog-card .flag-new {
    background: url("../img/new-flag.png") no-repeat 0 0;
}
.catalog-card .active {
    position:absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:40px 0;
    background-color:rgba(255,255,255,1);
    z-index:10;
}
.active .buy,
.active .in-bookmark {
    display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:9px 0;
    border:3px solid #63a53d;
    border-bottom-color:#367315;
    background-color:#63a53d;
    border-radius:3px;
}
.active .buy:hover {
    background-color:#5fbb2d;
    border: 3px solid #5fbb2d;
    border-bottom-color:#367315;
}
.active .buy:active {
    background-color:#508534;
    border: 3px solid #508534;
    border-bottom-color:#508534;
}
.active .in-bookmark:hover {
    border: 3px solid #31415b;
}
.active .in-bookmark:active {
    border: 3px solid #c1c6cd;
    color: #c1c6cd;
}
.catalog-card .active {
    opacity: 0;
}
.catalog-card:hover .active {
    opacity: 1;
}
.catalog-card .image {
    width: 218px;
    height: 168px;
}
.image img {
    max-width: 100%;
}
.card-title h3 {
    min-height: 40px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: -5px;
}
.card-title b {
    display: block;
}
.catalog-card .old-price {
    min-height: 20px;
    margin-top: 15px;
    margin-bottom: 8px;
}
.catalog-card .new-price {
    position: relative;
    width: 80px;
    margin: 8px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    color: white;
    background: #ee3643;
    border-radius: 3px;
}
.catalog-card .new-price:after {
    content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:20px solid white;
    border-left-color:#ee3643;
}

/**********/
.catalog-card .buy {
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    background-color: #63a53d;
}
.catalog-card .in-bookmark {
    text-transform: uppercase;
    color: #31415b;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    background-color: #ffffff;
    border-bottom-color:#63a63e;
}
.catalog h3 {
    text-transform: none;
    color: #000000;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}
.card-title .old-price {
    color: #999999;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    text-decoration: line-through;
}
.card-title .new-price {
    color: #ffffff;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    background-color: #ee3643;
}
/*--------------------------------------------------------*/
/******************* Пагинация*********************/
.pagination-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  list-style: none;
  padding-left: 240px;
  padding-top: 12px;
  padding-bottom: 60px;
}

.pagination-item {
  margin-right: 8px;

}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 10px 0px;
  width: 37px;
  color: #000000;
  background-color: #ffffff;

  text-transform: uppercase;
  text-align: center;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  border: 1px solid #e5e5e5;
  border-radius: 3px
}
.next-page a {
  width: 138px;
}

.pagination-item a:hover {
    border-color: #bdc5c9;
}
.pagination-item a:active {
    border-color: #ed3543;
}

.pagination-item-current a {
  color: #ffffff;

  background-color: #ed3543;
}


/***************** Текст о перфораторах *****************/

.info-about-perforators {
    flex-direction: column;
    justify-content: flex-start;
}
.fon-about-perforators {
    background-color: #f2f6f8;
}
.about-perforators {
    text-transform: uppercase;
    color: #000000;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 63px;
    margin-bottom: 15px;

    outline: 2px solid blue;/*визуализатор блоков 3-й уровень*/
}
.info-about-perforators p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 23px;
    margin-bottom: 70px;
}
/************************************************/
/************************************************/
/*Всплывающие окна*/

.modal-map {

    width: 940px;
    height: 443px;

    bottom: 267px;
    left: 50%;
    margin-left: -470px;

    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
}
/*------------------------------------*/
.btn-close {
    content: "";
    position: absolute;

    width: 21px;
    height: 21px;

    top:5px;
    right:5px;

    background-image: url("../img/icon-close.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
/*------------------------------------*/
.write-us {
    display: flex;
    justify-content: center;
    position: fixed;

    bottom: 190px;
    left: 50%;
    margin-left: -300px;

    width: 600px;
    padding-top: 50px;

    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.5),0 -6px 0 0 #ed3543;
    background-color: white;
}
.name-email {
    display: flex;
    justify-content: space-between;
    width: 460px;
    /*background: rgba(0, 128, 0, 0.2);
    box-shadow: 0 0 0 3px green;*/
}
.data-and-letter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.data-and-letter label {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 10px;
}
.write-us-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background: rgba(0, 128, 0, 0.2);
    box-shadow: 0 0 0 3px green;*/
}

.data-and-letter input[type="text"],
.data-and-letter input[type="email"] {
    box-sizing: border-box;
    width: 220px;
    padding: 10px 15px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: #b5b5b5;
    border: 1px solid rgba(181,181,181,0.6);
    border-radius: 3px;
}

.write-us-form p {
    margin: 0;
    margin-bottom: 20px;
}
.mail textarea {
    box-sizing: border-box;
    width: 460px;
    padding: 10px 15px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: #b5b5b5;
    border: 1px solid rgba(181,181,181,0.6);
    border-radius: 3px;
    margin-bottom: 32px;
}
.send-write-us {
    display: flex;
    justify-content: center;
    /align-items: center;
    /min-height: 96px;
    background-color: rgba(181,181,181,0.2);
    width: 600px;
    padding: 0;
    padding-top: 32px;
    padding-bottom: 32px;
}
.btn-send {
    width: 460px;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 10px 0px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ed3543;
    border-radius: 3px;
    marging-top: 32px;
    border: none;
}
.btn-send:hover,
.btn-send:active {
    background-color: #ca2b36;
}
/*------------------------------------*/
.buy-finish {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 30;
    top: 423px;
    left: 50%;
    margin-left: -300px;

    width: 600px;
    /padding-top: 50px;

    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.5),0 -6px 0 0 #ed3543;
    background-color: white;
}
.buy-finish h2 {
    margin: 50px 70px;
    padding-top: 10px;
    padding-left: 108px;
    /*background: rgba(0, 128, 0, 0.2);
    box-shadow: 0 0 0 3px green;*/
    position: relative;
}
.buy-finish h2::before {
    content: "";

    position: absolute;
    top: -10px;
    left:0px;

    width: 66px;
    height: 66px;
    background-image: url("../img/icon-mark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

}
.buy-finish-send {
    box-sizing: border-box;
    width: 600px;
    display: flex;
    justify-content: space-between;
    padding: 32px 70px;
    background-color: rgba(181,181,181,0.2);
    /*background: rgba(0, 128, 0, 0.2);
    box-shadow: 0 0 0 3px green;*/
}
.order {
    box-sizing: border-box;
    width: 220px;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    /*font-family: "Cuprum", Arial, sans-serif;
    font-size: 12px;
    line-height: 12px;*/
    padding: 10px 0px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ed3543;
    border-radius: 3px;
    text-align: center;
}
.order:hover,
.order:active {
    background-color: #ca2b36;
}
.continue-shopping {
    box-sizing: border-box;
    width: 220px;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 10px 0px;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
    border-radius: 3px;
    text-align: center;
}


/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
.buy-finish {
    display: none;
}
/*------------------------------------------*/
.modal-map {
    display: none;
}
.write-us {
    display: none;
}
/*------------------------------------------*/
